Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.idea/
.vscode/

logs
*.log
npm-debug.log*

.tmp
.npm
node_modules/
build/
storage/
dist/
data/mysql/
data/db
data/
cache/
_nginx/
temp/
coverage
.serverless
.webpack

.env
.db/
.env-prod

#ec2-config-prod
#ec2-config-dev

